@import "variables/variables";
@import "components/maindisplay";
@import "components/sidebar";
@import "normalize/normalize.css";

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c92d2;
  background: #74ebd5; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1c92d2, #f2fcfe);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1c92d2, #f2fcfe ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app-container {
  color: $body-color;
  height: 80%;
  background:transparent;
  display: grid;
  grid-template-columns:  minmax(200px, 1fr) minmax(500px, 3fr);
  width: 80%;
  border-radius: $border-radius;
}
