.sidebar {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  background: transparent;
  position: relative;
  overflow: hidden;
  width: 240px;
  

  &__both {
    overflow: auto;
    height: 100%;
    position: absolute;
    padding-top: 2rem;
    padding-left: 1rem;
    top: 0;
    left: 0;
    width: 100%;
      
  }

  &::before {
    background: inherit;
    content: "";
    position: absolute;
    left: -10%;
    right: 0;
    top: -10%;
    bottom: 0;
    height: 110%;
    width: 110%;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    z-index: 1;
  }

  &__items {
    position: absolute;
    z-index: 2;
 

    &__toparea {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    &__projects {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    
  }
}



.menu-item {
  color:$dark-grey;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  padding-left: 2rem;
  cursor: pointer;
  @include gridise(flex-start, center);

  &:hover {
    color: $main-blue-dark;
  }

  &.selected {
    color: $main-blue-dark;
  }

  // border: $b;

  &__icon {
    color:$main-grey;
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.4rem;
    pointer-events: none;
  }

  &__title {
    margin: 0;
    font-size: 1.4rem;
    display: inline-block;
    color: inherit;
    pointer-events: none;
  }
}
