.sidebar {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background: transparent;
    position: relative;
    overflow: hidden;

    &::before{
        background: inherit; 
        content: "";
        position: absolute;
        left: -10%;
        right: 0;
        top: -10%; 
        bottom: 0;
        height: 110%;
        width: 110%;
        box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
        filter: blur(10px);
       }
   
}