.todo-item {
  height: 6rem;
  display: flex;
  @include gridise(flex-start, flex-start);
  box-sizing: border-box;

  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
 
  

  &__complete {
    
    width: 6rem;
    height: 100%;
    display: flex;
    @include gridise(center, center);

    & .icon {
      font-size: 3rem;
      pointer-events: none;
    }

  }

  .complete {
    color: $main-blue-light
  }

  .incomplete {
    color: $light-grey;
  }

  .lineThrough {
    text-decoration: line-through;
  }

  .greyed {
    background: $light-grey;
  }

  &__main {
    pointer-events: none;
    width: calc(100% - 6rem);
    height: 100%;

    border-radius: 7px;
    // @include blue-shadow;
    display: flex;
    border: 1px solid $light-grey;

    @include gridise(space-between, center);

    &__info {
        
      height: 100%;
      display: flex;
      @include gridise(flex-start, center);
      width: calc(100% - 6rem);
      padding: 2rem 1rem;
    
      border-radius: 7px;
     

      &__icon {
        font-size: 2rem;
        color: white;
      }

      &__icon-container {
        background: $main-blue-light;
        padding: 1rem;
        border-radius: 4px;
      }

      &__text-container {
          
          height: 100%;
          width: 100%;
          padding-left: 2rem;
          display: flex;
          @include gridise(flex-start, center);

          &__text {
              color: black;
              font-size: 1.4rem;
          }

      }
    }

    &__dragger {
      height: 100%;
      display: flex;
      width: 6rem;
      @include gridise(center, center);
      padding: 2rem;
      cursor: grab;

      &__icon {
          color: white;
          font-size: 2rem;
      }
    }
  }
}


.selectedTodo {
  background: red;
}