.todo-item {
  height: 6rem;
  display: flex;
  @include gridise(flex-start, flex-start);
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;

  &::before {
      content: "";
      top: 50%;
      left: 54%;
      border: 1px solid black;
      transform: translate(-50%, -50%);
      height: 130%;
      width: 100%;
      background: transparent;
      position: absolute;
  }
  

  &__complete {
      pointer-events: none;
    width: 6rem;
    height: 100%;
    display: flex;
    @include gridise(center, center);
    &__complete-span {
      height: 2.5rem;
      display: flex;
      @include gridise(center, center);
      width: 2.5rem;
    

    //   border: 1px solid rgba(0, 0, 0, 0.173);
      cursor: pointer;
     

      

      &__icon {

        .todo-item__complete__complete-span.todoSelected & {
            @include blue-shadow;   
            background: $main-blue;
        }
          color: white;
          font-size: 3rem;

         


         
          background: white;
          padding: 1rem;
          border-radius: 50%;
      }
    }
  }

  &__main {
    pointer-events: none;
    width: calc(100% - 6rem);
    height: 100%;
    background: $main-blue;
    border-radius: 7px;
    @include blue-shadow;
    display: flex;
    @include blue-shadow;
    @include gridise(space-between, center);

    &__info {
        
      height: 100%;
      display: flex;
      @include gridise(flex-start, center);
      width: calc(100% - 6rem);
      padding: 2rem 2rem;
      background: $main-blue;
      border-radius: 7px;
     

      &__icon {
        font-size: 2rem;
        color: white;
      }

      &__icon-container {
        background: $main-blue-light;
        padding: 1rem;
        border-radius: 4px;
      }

      &__text-container {
          
          height: 100%;
          width: 100%;
          padding-left: 2rem;
          display: flex;
          @include gridise(flex-start, center);

          &__text {
              color: white;
              font-size: 1.4rem;
          }

      }
    }

    &__dragger {
      height: 100%;
      display: flex;
      width: 6rem;
      @include gridise(center, center);
      padding: 2rem;
      cursor: grab;

      &__icon {
          color: white;
          font-size: 2rem;
      }
    }
  }
}
